services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
      - redis
      - minio
    ports:
      - "8000:8000"
    volumes:
      - ./ml:/ml:ro  # Mount ML directory as read-only
      - ./backend:/app
    environment:
      - ML_MODEL_PATH=/ml/model/water_model.pkl

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:80"
    volumes:
      - ./frontend:/app                 # your source code
      - frontend_node_modules:/app/node_modules   # FIXED mount target

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: wqam
      POSTGRES_PASSWORD: wqam_pass
      POSTGRES_DB: wqamdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data:
  frontend_node_modules:
