@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-[#081828] to-[#0e2338] text-white;
}

.glass {
  @apply bg-white/10 backdrop-blur-xl border border-white/10 rounded-2xl shadow-xl;
}
